[submodule "lassus-geistliche-psalmen"]
	path = lassus-geistliche-psalmen
	url = https://github.com/WolfgangDrescher/lassus-geistliche-psalmen.git
[submodule "ulenberg-psalmen-davids"]
	path = ulenberg-psalmen-davids
	url = https://github.com/WolfgangDrescher/ulenberg-psalmen-davids.git
