html {
  font-size: 15px;
}

@screen sm {
    html {
        font-size: 15px;
    }
}
@screen md {
    html {
        font-size: 16px;
    }
}
@screen lg {
    html {
        font-size: 16px;
    }
}
@screen xl {
    html {
        font-size: 17px;
    }
}
@screen 2xl {
    html {
        font-size: 17px;
    }
}
